html, body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Hind', sans-serif;
    scroll-behavior: smooth;
}

@media (max-width: 1366px) {
    .main-sec {
        min-height: 35em;
        position: relative;
    }
}

.main-sec {
    background: #74d2e7;
    min-height: 43em;
    position: relative;
}

.top-w3pvt {
    border-bottom: 1px solid #8bb4df;
    padding-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Hind', sans-serif;
}

#logo a {
    float: left;
    font-size: .8em;
    display: initial;
    margin: 0;
    letter-spacing: 0px;
    color: #333;
    font-weight: 300;
    padding: 3px 0;
    border: none;
}

#logo a span {
    color: #fff;
    font-size: 1.4em;
    font-weight: 700;
    text-shadow: 3px 1px 3px rgba(19, 18, 18, 0.19);
}

.forms {
    margin-top: 1.4em;
}

header a.btn {
    border-radius: 4px;
    color: #4d6171;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

header a.btn span {
    color: #fff;
}

.nav-top-wthree {
    margin: 1em 0;
}

nav {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    float: left;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

.toggle, [id^=drop] {
    display: none;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li {
    margin: 0px;
    display: inline-block;
}
.menu li.active a {
    color: #ec1c24;
    font-weight: 600;
}
nav a {
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 0.9em;
    margin: 0 1em;
    color: #515152;
    text-transform: uppercase;
}

ul {
    margin: 0;
    padding: 0;
}
li > a:only-child:after {
    content: '';
}

ul.menu li span {
    color: #fff;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 30px;
    background: #fff;
    padding: 10px;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}
nav ul ul li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
}
nav ul li:hover > ul {
    display: inherit;
}
nav ul li ul li:hover {
    background: #f8f9fa;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}
nav a:hover {
    color: #ec1c24;
}
a:hover {
    text-decoration: none;
}

.search-form {
    width: 30%;
}
.banner-left-info {
    margin-top: 14em;
}

@media (max-width: 1366px) {
    .banner-left-info {
        margin-top: 12em;
    }
}

.banner-wthree-info h3 {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.7em;
}

@media (max-width: 1280px) {
    .banner-wthree-info h3 {
        font-size: 2.3em;
        margin-bottom: 0.7em;
    }
}

.banner-wthree-info h3 span {
    color: #fff;
}

.btn.shop {
    margin-right: 15px;
    background: #ec1c24;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: #fff;
    padding: 0.6em 2.5em;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    font-weight: 600;
    -moz-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.15);
}